.desc-container{

    display: grid;
    grid-template-columns: 70% 30%;

}

img{
    object-fit: fill;
    overflow: hidden;
}

footer{
    display: grid;
    grid-template-columns: 60% 40%;
}

.logo, .menu, .social{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.green-btn{
    background-color: #22B571;
    color: white;
    border-radius: 15px;
    padding: 5px 19px 5px 19px;
}

.blue-text{
    color: #1D4589;
}
.green-text{
    color: #22B571;
}